.events{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__month{
        text-transform: uppercase;
    }
    &__calendar{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        &__cards{
            width: 50%;
            display: flex;
            justify-content: space-around;
            &-card{
                width: 10vh;
                height: 20vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #E6E6E6;
                border-radius: 2px;
                margin: 2%;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                & p{
                    text-transform: uppercase;
                }
                &-active{
                    width: 10vh;
                    height: 20vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: #E6E6E6;
                    border-radius: 2px;
                    margin: 2%;
                    box-shadow: rgb(155, 252, 0) 0px 1px 4px, rgb(155, 252, 0) 0px 0px 0px 3px;
                    & p{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    &__add{
        width: 30%;
        border: 3px solid #F2F3F5;
        &-form{
        }
    }
    &__info{
        display: flex;
        justify-content: space-around;
        color: red;
        &-events{
            margin-top: 5%;
            span {
                color: #5276A6;
                font-weight: bold;
            }
        }
    }
}