.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__navbar{
        width: 12%;
        display: flex;
        justify-content: start;
    }
    &__container{
        width: 88%;
        background-color: #EEF5FF;
        &__project{
            margin-top: 5%;
        }
        &-comments{

        }
        &-comments-input{
            margin-top: 3%;
            border-top: 1px solid black;
        }
    }
}
.create_project{
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.isAdm{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

.dateProject{
    margin-top: 3%;
    color: #5276A6;
    font-weight: bold;
}