
.news{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__navbar{
        width: 12%;
        display: flex;
        justify-content: start;
    }
    &__container{
        width: 85%;
        display: flex;
        justify-content: space-around;
        &__dates{
            width: 25%;
            height: 100vh;
            background-color: #CAF1F8;
            padding: 3px;
            &-card{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 10vh;
                margin-top: 8vh;
                border-radius: 2px;
                font-size: 0.9rem;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                span {
                    margin-top: 15%;
                    font-weight: bold;
                }
                &-now{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 10vh;
                    margin-top: 10vh;
                    border-radius: 2px;
                    font-size: 0.9rem;
                    box-shadow: rgb(3, 143, 249) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    span {
                        margin-top: 15%;
                        font-weight: bold;
                    }
                }
            }
            &-card:hover{
                transition: 0.5s;
                background-color: #8EDBEB;
                cursor: pointer;
            }
            &-card:focus-within{
                background-color: #8EDBEB;
            }
            &-card-now:hover{
                transition: 0.5s;
                background-color: #8EDBEB;
                cursor: pointer;

            }
        }
        &__news{
            width: 85%;
            height: 100vh;
            background-color: #F2F3F5;
            &-new{
                margin-top: 10%;
                display: flex;
                justify-content: center;
                &-comments{
                    margin-top: 1%;
                    background-color: white;
                    border-radius: 2px;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                }
            }
        }
    }
}

.comments{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #F2F3F5;
    &__results{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
        &-icon{
            font-size: 1.2rem;
            margin-left: 1%;
            position: absolute;
            left: 0;
            color: #5276A6;
        }
        &-comment{
            margin-top: 2%;
        }
        &-dv{
            height: 1px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        & span{
            color: #5276A6;
        }

    }
}