@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");



.messages{
    font-family: "Poppins", sans-serif;
    background-color: #090E11;
    display: flex;
    justify-content: center;
    align-items: center;

}
.messages__container {
    height: 100%;
    width: auto;
    background-color: #131C21;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.messages__container .chat {
    position: relative;
    width: 50vh;
    border-left: 1px solid white;
}

.messages__container .chat .self {
    background-color: #056162;
    display: inline;
    margin-left: 80%;
}

.messages__container .chat header {
    width: 100%;
    background-color: #1E2428;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 10vh;
}

.messages__container .chat header nav ul {
    color: #fff;
}

.messages__container .chat img {
    height: 100%;
    width: 100%;
    filter: brightness(20%);
}

.messages__container .chat ul {
    position: absolute;
    top: 0;
    padding: 30px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.messages__container .chat ul li {
    background-color: #262D31;
    color: #fff;
    display: inline;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.messages__container .chat ul .other {
    background-color: #262D31;
    color: #fff;
    display: inline;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 5px;
    text-align: center;
    margin-right: 80%;
}

.messages__container .chat .message {
    width: 100%;
    height: 3rem;
    background-color: #1E2428;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages__container .chat .message input[type=text] {
    border: none;
    border-color: #1E2428;
    color: white;
    text-align: center;
    height: 1.5rem;
    background-color: #1E2428;
    font-weight: 600;
}

.messages__container .chat .message button {
    opacity: 0;
}

.messages__container aside {
    height: 610px;
    width: 350px;
    background: #131C21;
    overflow-y: auto;
    border-top-left-radius: 10px;
}

.messages__container aside button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
}

.messages__container aside button:active .user {
    background-color: #0F1A20;
}

.messages__container aside button:focus .user {
    background-color: #0F1A20;
}

.messages__container aside .user {
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 15px;
    cursor: pointer;
    margin-top: 1rem;
}

.messages__container aside .user:hover {
    background-color: #0F1A20;
    transition: 0.2s ease-in-out;
}

.messages__container aside .user .avatar img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 40px;
    -o-object-fit: cover;
    object-fit: cover;
}

.messages__container aside .user .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15px;
    align-items: baseline;
}

.messages__container aside .user .details .green {
    color: #25D366;
    font-size: 0.9rem;
}

.messages__container aside .user .details .name h3 {
    font-size: 1rem;
    font-weight: 500;
}

.messages__container aside .user .details .message h6 {
    font-size: 0.8rem;
    font-weight: 300;
}