.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #5276A6;
    flex-direction: column;
    &__items{
        height: 100vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        &-item1, &-item2, &-item3{
            font-size: 1.9rem;
            list-style: none;
        }
        &-item1:hover, &-item2:hover, &-item3:hover{
            transition: 0.5s;
            color: orange;
            cursor: pointer;
        }
        &-item2, &-item3{
            margin-top: 20vh;
        }
    }
}

.logout{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;
    color: #5276A6;
};

.logout:hover{
    cursor: pointer;
    color: orange;
    transition: 0.5s;
}